<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Venta de producto</title>
<link rel="stylesheet" href="src/main/resources/static/style/main.css"  th:href = "@{/style/main.css}" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
  		<span class="navbar-brand mb-0 h1">Ingresar producto</span>
	</nav>

	<form th:action="@{/formProducto}" th:object="${producto}" method="post" class="main-form">
		<div class="form-group">
			<label for="nombre" >Nombre del producto: </label>
			<input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Ingresar nombre del producto"/><br>
			<small>
				<span th:errors="*{nombre}" class="alert alert-danger" ></span>
			</small>
		</div>
		
		<div class="form-group">
			<label for ="descripcion">Descripcion: </label>
			<textarea class="form-control" th:field="*{descripcion}" placeholder="Describe brevemente el producto" id="descripcion"></textarea><br>
			<small>
				<span th:errors="*{descripcion}" class="alert alert-danger " role="alert" ></span>
			</small>
		</div>
		
		<div class="form-group">
			<label for="precio">Precio del producto: </label>
			<input type="number" th:field="*{precio}" id="precio" class="form-control" placeholder="Ingresar precio del producto"/> <br>
			<small>
				<span th:errors="*{precio}" class="alert alert-danger " role="alert"></span>
		
			</small>
			</div>
		
		<div class="form-group">
			<label for="vencimiento">Fecha de vencimiento: </label>
			<input type="text" th:field="*{vencimiento}" id ="vencimiento" class="form-control" placeholder="Ingresar fecha(dd/mm/yyyy)"/> <br>
			<small>
				<span th:errors="*{vencimiento}" class="alert alert-danger alert-dismissible fade show" role="alert"></span>
			</small>
			</div>
		
		<input type="submit" value="Agregar producto" class="btn btn-primary mb-2"/>
	
	</form>

</body>
</html>